# Nova basic settings
NOVA_NAME=Nova
NOVA_DEFAULT_USER=put_default_user_name_here
NOVA_CITY=put_city_here
NOVA_STATE=put_state_here
NOVA_COUNTRY=put_country_here
NOVA_TIMEZONE=put_timezone_here

# Voice settings
NOVA_ESPEAK_SPEED=140
NOVA_ESPEAK_PITCH=32

# LED settings
NOVA_LED_COUNT=12
NOVA_LED_PIN=18
NOVA_LED_BRIGHTNESS=80
NOVA_LED_ENABLED=false

# Weather
OPENWEATHER_API_KEY=put_openweather_key_here

# Tavily Search
TAVILY_API_KEY=put_tavily_key_here

# Spotify
SPOTIFY_CLIENT_ID=put_client_id_here
SPOTIFY_CLIENT_SECRET=put_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8080/callback

# Optional AI later
OPENAI_API_KEY=put_openai_key_here_if_used_later


# Nova's Online & Offline Voice
ELEVENLABS_API_KEY=put_your_key_here
ELEVENLABS_VOICE_ID=put_voice_id_here
ELEVENLABS_MODEL_ID=eleven_flash_v2_5
NOVA_OFFLINE_VOICE=en+f3
NOVA_OFFLINE_SPEED=140
NOVA_OFFLINE_PITCH=45

# OLED Pins
NOVA_OLED_ENABLED=put_true_or_false
NOVA_OLED_WIDTH=128
NOVA_OLED_HEIGHT=64
NOVA_OLED_I2C_ADDRESS=60
NOVA_OLED_REFRESH_SECONDS=5

# Temperature and humidity sensor
NOVA_CLIMATE_ENABLED=put_true_or_false
NOVA_CLIMATE_SENSOR_TYPE=DHT22
NOVA_CLIMATE_PIN=D17

# Backup settings
NOVA_BACKUP_ENABLED=true
NOVA_BACKUP_TIME=00:00
NOVA_BACKUP_KEEP_DAYS=30