# Nova basic settings
NOVA_NAME=Nova
NOVA_DEFAULT_USER=Caleb
NOVA_CITY=Metamora
NOVA_STATE=Michigan
NOVA_COUNTRY=US
NOVA_TIMEZONE=America/Detroit

# Voice settings
NOVA_ESPEAK_SPEED=140
NOVA_ESPEAK_PITCH=32

# LED settings
NOVA_LED_COUNT=12
NOVA_LED_PIN=18
NOVA_LED_BRIGHTNESS=80
NOVA_LED_ENABLED=false

# Weather
OPENWEATHER_API_KEY=e0ece093d8ba2d11e6efa6ba13dd0a71

# Google Search
GOOGLE_API_KEY=put_your_google_api_key_here
GOOGLE_SEARCH_ENGINE_ID=put_search_engine_id_here

# Spotify
SPOTIFY_CLIENT_ID=put_your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=put_your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8080/callback

# Optional AI later
OPENAI_API_KEY=put_openai_key_here_if_used_later

